<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../css/signin.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
</head>
<body>
    <div class="wrapper">
        <h1>登&nbsp;录</h1>
        <form id="loginForm">
            <div class="form-group">
                <input type="text" class="form-control" id="userName" placeholder="用户名">
                <i class="icon glyphicon glyphicon-user">
                </i>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="userPwd" placeholder="密码">
                <i class="icon glyphicon glyphicon-lock">
                </i>
            </div>
            <a id="submit" class="btn btn-blue form-control">登录</a>
        </form>
    </div>
</body>
</html>