<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新用户注册</title>
    <link rel="stylesheet" href="../css/signin.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
</head>
<body>
<div class="wrapper">
    <h1>注&nbsp;册</h1>
    <form id="regForm" action="">
        <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="邮箱">
            <i class="icon glyphicon glyphicon-envelope">
            </i>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="englishname" placeholder="英文用户名">
            <i class="icon glyphicon glyphicon-globe">
            </i>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="chinesename" placeholder="中文用户名">
            <i class="icon glyphicon glyphicon-user">
            </i>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="密码">
            <i class="icon glyphicon glyphicon-lock">
            </i>
        </div>
        <a id="regUser" class="btn btn-blue form-control">立即注册</a>
        <div class="checkbox no-padding clearfix">
            <a href="User/login" class="a text-center">已经注册？</a>
        </div>
    </form>
</div>
</body>
</html>